/*
    Default Code from here ---------------------
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/*
    To here ---------------------
*/


/*
To call ID 
Note: Can only have one ID per element.
#ID NAME HERE {

}

To call class
.CLASS NAME HERE {

}
*/

body {
    background-color: #383532;
}

.wrapper {
    margin: 0 auto;
}

.index-navbar {
    background-color: #78706B;
    padding-bottom: 10px;
}

.index-navbar li {
    color: #F7E8DC;
    display: inline-block;
    background-color: #78706B;
    margin-top: 10px;
    margin-left: 25px;
}

.index-navbar li a {
    color: #F7E8DC;
    font-size: 20px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.index-navbar li a:hover {
    color: #383532;
}

.lv {
    text-align: center;
}

.adv {
    background-color: #838383;
}

.adv ul li {
    padding-top: 10px;
    padding-left: 10px;
    background-color: #838383;
}

.adv ul li textarea {
    resize: vertical;
    max-height: 200px;
}

.vehicle-container {
    padding: 20px;
    margin: 20px;
    margin-right: 1000px;
    line-height: 20px;
    background-color: #838383;
    border-radius: 5px;
}

.vehicle-container a {
    text-decoration: none;
    color: #F7E8DC;
}

.vehicle-container a:hover {
    color: #383532;
}